.nav 
{
  background-color:blue;
}

.nav a {
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.jumbotron {
  background-color:whitesmoke;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  top:-15px;
  left:450px;
  right:450px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

.learn-more {
  background-color: blue;
}

.learn-more h3 {
  color:white;
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more h4 {
  color:white;
  font-family: 'Shift', sans-serif;
  font-size: 12px;
  font-weight: bold;
}

.learn-more a {
  color: snow;
}

.learn-more li {
  color: snow;
}

.products-guide
{
    background-color:#efefef;  
    border-bottom:1px solid #dbdbdb;
}

.products-guide h2
{
    color:#393c3d;  
    font-size:24px;
	text-align: center;
}

.products-guide p
{
    font-size:15px;
    margin-bottom:13px;
	text-align: center;
}